body {
    font-family: Arial;
    margin: 0;
    background-color: #e8d7d5
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.content {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    color: red; 
}

/* Navigation bar styling */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
  
/* Style the navigation bar links */
.navbar a {
    float: none;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    width: 25%;
}
  
/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}