body {
    font-family: Arial;
    margin: 0;
    background-color: #171715
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    padding-left: 300px;
    padding-right: 300px;
    color: white;
    font-size: 30px;
    /* position: fixed;
    z-index: 999; */
}

.content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 300px;
    padding-right: 300px;
    color: white;
}

h1 {
    color: #d2ed3b;
}

/* Navigation bar styling */
.navbar {
    overflow: hidden;
    background-color: #262624;
    position: sticky;
    position: -webkit-sticky;
    padding-left: 300px;
    padding-right: 300px;
    top: 0;
    z-index: 999;
}
  
/* Style the navigation bar links */
.navbar a {
    float: none;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    width: 25%;
}
  
/* Change color on hover */
.navbar a:hover {
    background-color: #d2ed3b;
    color: #ddd;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    padding-left: 300px;
    padding-right: 300px;
}